
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditect.ai</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% comment %} <link rel="stylesheet" href="static/styles.css"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </head>
<body >
 <script>
    document.onreadystatechange = function () {
      var loaderContainer = document.getElementById('loader-container');
      if (document.readyState === 'complete') {
        loaderContainer.style.display = 'none'; // Hide the loader when the page is fully loaded
      } else {
        loaderContainer.style.display = 'block'; // Show the loader when the page is still loading
      }
    };
  </script> 
  <div id="loader-container">
    <div class="loader"></div>
  </div>
    <div class="header">
      <div class="row">
              <!-- LOGO SECTION-->
              <div class="col-6 col-sm-6 col-xs-6 mt-3 ">
                  <a href="{% url 'index' %}">
                  <img class="img-fluid" src="{% static 'assets\meditect-logo.png' %}" alt="Logo">
                  </a>
              </div>
      </div>     
    </div>
    {% block content%}
    {% endblock content%}
</body>