{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body >
  {% block content%}
    
<!--=======================================================   BACK TO HOME BUTTON (ROUND) STARTS   ================================================-->

  <a href="{% url 'heartdisease' %}" class="round-button">
    <img src="{% static 'assets/up-arrow.png' %}" alt="Up Arrow">
  </a>
<!--=======================================================   BACK TO HOME BUTTON (ROUND) ENDS   ================================================-->


    <section id="heartdiseasesection">
       <div class="row bg-danger">
        <h1 class="text-light">THIS IS HEART disease PAGE</h1>
       </div>
    </section>

 {% endblock content%}
</body>